@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.social-shares {
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0;
}
.social-shares li {
	list-style: none;
	padding: 0;
	margin: 0 5px 0 0;
	float: left;
}
.social-shares li a  {
	font-family: Arial;
	background: #000;
	text-align: center;
	display: inline-block;
	border: 2px solid #444;
	text-decoration: none;
	width: 50px;
	height: 50px;
	outline: 0 none;
	color: #fff;
}
.social-shares li a:hover  {
	background: #333;
	border-color: #666;
}
.social-shares li a span  {
	display: block;
}
.social-shares li a span.icon  {
	font-size: 1.3em;
	line-height: 2em;
	height: 41px;
}
.social-shares li a span.icon:before  {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.social-shares li a span.counts  {
	font-size: 0.6em;
	line-height: 0.75em;
	margin-top: -5px;
	font-weight: bold;
}

.social-shares li.google a  {
	background-color: #D4482C;
	border-color: #E08474;
}
.social-shares li.google a:hover  {
	background-color: #DB624C;
	border-color: #F4C0B7;
}
.social-shares li.facebook a  {
	background-color: #3B5998;
	border-color: #768FC1;
}
.social-shares li.facebook a:hover  {
	background-color: #5D78AF;
	border-color: #B5C3DD;
}
.social-shares li.twitter a  {
	background-color: #00BBF5;
	border-color: #59D2F7;
}
.social-shares li.twitter a:hover  {
	background-color: #5BCDEF;
	border-color: #ADEBFF;
}
.social-shares li.pinterest a  {
	background-color: #CB2028;
	border-color: #E57074;
}
.social-shares li.pinterest a:hover  {
	background-color: #DB4A4F;
	border-color: #EDA1A3;
}
.social-shares li.linkedin a  {
	background-color: #006699;
	border-color: #2B90BF;
}
.social-shares li.linkedin a:hover  {
	background-color: #1684B7;
	border-color: #5EB3DB;
}
.social-shares li.stumbleupon a  {
	background-color: #EA4B24;
	border-color: #F27F65;
}
.social-shares li.stumbleupon a:hover  {
	background-color: #EF785D;
	border-color: #F7AC9B;
}
.social-shares li.delicious a  {
	background-color: #0000FF;
	border-color: #5656FF;
}
.social-shares li.delicious a:hover  {
	background-color: #5454FF;
	border-color: #8E8EFF;
}
.social-shares li a span.social-google:before  {
	content: "\21";
}
.social-shares li a span.social-facebook:before  {
	content: "\22";
}
.social-shares li a span.social-twitter:before  {
	content: "\23";
}
.social-shares li a span.social-pinterest:before  {
	content: "\24";
}
.social-shares li a span.social-linkedin:before  {
	content: "\25";
}
.social-shares li a span.social-stumbleupon:before  {
	content: "\26";
}
.social-shares li a span.social-delicious:before  {
	content: "\27";
}